.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition:
    visibility 0s linear 0.3s,
    opacity 0.5s ease;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0s linear 0s,
    opacity 0.5s ease;
}

.modal__container {
  background-color: #fff;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}
.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__close-btn-icon {
  margin: auto auto;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  color: rgba(252, 245, 229, 1);
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

@media screen and (max-width: 629px) {
  .modal__title {
    font-size: 20px;
  }

  .modal__submit-btn {
    max-width: none;
  }
}
